/*
share variables in here
import this file if your scss file use share variables
Example:
@import '../variables';
*/


/*
nav bar
*/

$nav-bar-green: #A5CD50;

/*
content page
*/

$compendium-purple: #503291;
$compendium-blue: #95D4D1;
$compendium-green: #A5CD50;