<ion-nav-bar class="bar-positive">
            <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
     </ion-nav-bar>
<ion-tabs class="tabs-icon-top tabs-striped tabs-positive tabs-vertical">

      <ion-tab icon="ion-navicon-round"  ui-sref="tab.patientlist">
        <ion-nav-view name="tab-patientlist"></ion-nav-view>
      </ion-tab>

      <ion-tab icon="ion-levels" >
         <ion-nav-view name="tab-patientlist"></ion-nav-view>
      </ion-tab>

      <ion-tab icon="grpah-icon-v">
         <ion-nav-view name="tab-patientlist"></ion-nav-view>
      </ion-tab>

      <ion-tab icon="ion-clipboard">
         <ion-nav-view name="tab-patientlist"></ion-nav-view>
      </ion-tab>

       <ion-tab icon="ion-wrench" ui-sref="tab.settings">
         <ion-nav-view name="tab-settings"></ion-nav-view>
      </ion-tab>

</ion-tabs>