 md-grid-list {
  margin: 8px; 
 }
 .white {
 background: #ffff;
 }
.gray {
 background: #BBC2C4;
}
.green {
  background: #b9f6ca; 
 }
.yellow {
  background: #ffff8d; 
 }
.blue {
  background: #1189F2; 
 }
 .purple {
   background: #b388ff; 
 }
 .red {
  background: #ff8a80; 
 }
 md-grid-tile {
   transition: all 400ms ease-out 50ms; 
 }